.content-wrapper {
    background-color: brown;
    display: flex;
    justify-content: space-between;

    /* column gap, prideda tarpą, kaip dar viena elementą
    column-gap: 30px; 
    gapas veiks negerai su flex wrap'u */
}

.shops-wrapper {
    background-color: orange;
    /* width: 48%; */
    /* margin-right: 2%; */
    width: calc(50% - 15px);
}

.parduotuves {
    list-style-type: none;
    padding-left: 0;
}



.zemelapis { 
    background-color: green;
    /* width: 48%; */
    /* margin-left: 2%; */
    width: calc(50% - 15px);
}

iframe{width: 100%;}


